<%= stylesheet_link_tag  "footer" %>

<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= t('power_by') %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
    <div class="style_footer_image">
      <%= image_tag 'ccpae_icon.jpeg', :class => "style_footer_image" %>
    </div>
    <div class="style_footer_image">
      <%= image_tag 'euro_icon.jpeg', :class => "style_footer_image" %>
    </div>
    <div>
      <%= link_to t('footer_privacy_policy'), spree.static_pages_politica_privacidad_path %>
    </div>
  </div>
</footer>
