<%# This is a great comment! %>
<%# Overwritten file from spree_front_end in order to add my static pages %>
<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="qui-som-link" data-hook><%= link_to t("qui-som"), spree.static_pages_qui_som_path %></li>
      <li id="ecologico-link" data-hook><%= link_to t("ecologico"), spree.static_pages_ecologico_path %></li>
      <li id="servicios-link" data-hook><%= link_to t("servicios"), spree.static_pages_servicios_path %></li>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>